<!DOCTYPE html>
<html>
  <head>
    <title>UsdWatcher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'admin' %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_pack_tag 'admin' %>
  </body>
</html>
